*{
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(216, 216, 216);
}

.card{
    border-radius: 5vh  5vh 0vh 0vh;
    box-shadow: 0.1vh 0.1vh 1vh 0vh;
    /* display: flex; */
    /* align-items: inline; */
    /* justify-content: flex-end; */
    width: 100%;
    height: 40vh;
    padding:5%;
    background-color: rgb(140, 140, 140);
    overflow-y:auto;
}
.mbar{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding-bottom: 2%;
    width: 100%;
    margin: 2%;
    height: 5vh;
    box-shadow: 0vh 0vh 1vh 0vh;
    border-radius: 0vh 0vh 2vh 2vh;
    /* position: relative; */
    /* bottom: -25vh; */
    /* border-left: none; */
    /* border-top: none; */
    /* border-right: none; */
}
input,input:active{
    background-color: rgb(255, 255, 255);
    padding: 0%;
    width: 40vh;
    height: 5vh;
    border-radius: 2vh 2vh 2vh 2vh;
    border: 0.5vh solid rgb(132, 0, 220);

}

#sub{
    height: 6vh;
    width: 6vh;
    /* padding: 1%; */
    margin-left: 4%;
    border-radius: 25vh;
    box-shadow: 0 0 0 0;
    border: none;
    color:white;
    background-image: radial-gradient(rgb(137, 90, 255),rgb(93, 0, 255));

}
li{
    list-style-type: none;
}
.me{
    padding: 1% 1%  1% 4%;
    min-height: 4vh;
    /* margin: 2%; */
    margin-left: auto;
    margin-right: 2%;
    width: fit-content;
    border-radius: 2vh 0vh 2vh 2vh;
    background-image:linear-gradient(rgb(216, 255, 210),rgb(163, 255, 178));
    color: rgb(50, 50, 50);
    /* position: relative; */
    /* left: 50%; */
}
.you{
    /* list-style-type: none; */
    position: relative;
    width: fit-content;
    left: 0;
    padding: 1% 1%  1% 4%;
    min-height: 4vh;
    margin: 2%;
    border-radius: 0vh 2vh 2vh 2vh;
    background-image:linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
    color: rgb(50, 50, 50);
    align-self: left;
}

h3{
    color: rgb(255, 0, 0);
    /* background-color: rgb(255, 255, 255); */
    border-radius: 2vh;
    font-family: monospace;
    padding-left: 1%;
}

h4{
    color: blue;
    border-radius: 2vh;
    font-family: monospace;
    padding-left: 1%;
}
.namecontainer{
    margin: 5%;
}
@media only screen and (max-width: 700px) {
    .card{
        /* padding: 0%; */
    }
    .screen{  
        padding: 0%;
        margin: 0%;
    }
    
}