.container{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-image: radial-gradient(red,orange);
}
*{
    padding: 0;
    margin: 0;
}
input{
    padding: 3%;
    margin: 5%;
    border-radius: 5vh;
    border: none;
    background-color: rgb(255, 255, 255);
    width: 70vh;
}
input:focus{
    border: none;
}

/* input:hover{
    background-color: rgb(180, 180, 180);
} */

.card{
    color: white;
    text-align: center;
    font-size: 5vh;
    font-weight: 900;
    font-family: sans-serif;
    background-image: radial-gradient(rgb(159, 159, 159),rgb(0, 0, 0));
    border-radius: 5vh;
    padding: 5%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.265);
}
/* #button:hover{
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 1s;
    font-size: 5vh;
    font-weight: 500;
    font-family: sans-serif;
    background-image: linear-gradient(rgb(0, 255, 136),rgb(20, 88, 0));
} */